@model DataObjects.Employee
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/EMS_StyleSheet.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>


<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#2980b9">
    <div class="container" style="color:white;">
        <div class="navbar-header" style="color:white">
            @Html.ActionLink("ORION EMS TECHNOLOGIES", "Index", "Employee", new { area = "", id = Session["Security"], organisationID = Session["Organisation"] }, new { @class = "navbar-brand", @style = "color:white;" })
        </div>
        <div class="nav navbar-nav">
            <a href="/Employee/UserAccountInfo?id=@Session["Security"]&organisationID=@Session["Organisation"]" class="userdetails  btn "><span class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "PLEASE ENTER THE CORRECT DETAILS TO CONTINUE", new { @class = "errormsg" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.Label("OLD PASSWORD", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("NEW PASSWORD", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("CONFIRM PASSWORD", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info submitbtn" style="background:#2980b9;"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id=Session["Security"], organisationID = Session["Organisation"] }, new { @style = "background:#2980b9;", @class = "submitbtn btn btn-info back" })
</div>
