@model DataObjects.Employee
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/EMS_StyleSheet.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<body id="general">
<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#2980b9">
    <div class="container" style="color:white;">
        <div class="navbar-header" style="color:white">
            @Html.ActionLink("ORION EMS TECHNOLOGIES", "Index", "Employee", new { area = "", id = Session["Security"], organisationID = Session["Organisation"] }, new { @class = "navbar-brand", @style = "color:white;" })
        </div>
        <div class="nav navbar-nav">
            <a href="/Employee/UserAccountInfo?id=@Session["Security"]&organisationID=@Session["Organisation"]" class="userdetails  btn "><span class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</div>

<div class="details">
    <h3><b>Employee Details</b></h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>ORGANISATION ID:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganisationId)
        </dd>

        <dt>
            <b>EMPLOYEE ID:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Id)
        </dd>

        <dt>
            <b>FULL NAME:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <b>DOB:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            <b>GENDER:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            <b>JOINING DATE:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Joining_Date)
        </dd>

        <dt>
            <b>DEPARTMENT:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            <b>EMAIL ID:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <b>CONTACT NUMBER:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_Number)
        </dd>

        <dt>
            <b>STATUS:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>




    </dl>
    <p>
        @Html.ActionLink("Back to List", "Index", new { id = Session["Security"], organisationID = Session["Organisation"] },new { @class= "btn btn-info viewbtn" })
    </p>
</div>
    </body>

