@model DataObjects.EmployeePagedModel
<link href="~/Content/EMS_StyleSheet.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script>
    function genderfunc() {
        var x = document.getElementById("Genderselect").value;
        document.getElementById("genderlabel").innerText = x;
        document.getElementById("department").value = document.getElementById("departmentlabel").innerText;
        document.getElementById("gender").value = document.getElementById("genderlabel").innerText;
        $("#filterform").submit();
    }


    function departmentfunc() {
        var x = document.getElementById("Departmentselect").value;
        document.getElementById("departmentlabel").innerText = x;
        document.getElementById("department").value = document.getElementById("departmentlabel").innerText;
        document.getElementById("gender").value = document.getElementById("genderlabel").innerText;
        $("#filterform").submit();
    }


    $(document).ready(function () {
        $(".removefilterbtn").hide();
        var x = '@ViewBag.viewall';
        if (x == "no") {

        }
        else {
            $(".removefilterbtn").show();
        }
    })

    $(document).ready(function () {
        $(".fa2").hide();

        var x = '@TempData["sort"]';
        if (x == "") {
            $("#eidasc").show();
        }
        if (x == "eid") {
            $("#eidasc").show();
        }
        if (x == "eid_desc") {
            $("#eiddesc").show();
        }
        if (x == "name") {
            $("#nameasc").show();
        }
        if (x == "name_desc") {
            $("#namedesc").show();
        }
        if (x == "Date") {
            $("#dobasc").show();
        }
        if (x == "date_desc") {
            $("#dobdesc").show();
        }
        if (x == "gender") {
            $("#genderasc").show();
        }
        if (x == "gender_desc") {
            $("#genderdesc").show();
        }
        if (x == "JoinDate") {
            $("#joiningasc").show();
        }
        if (x == "join_data_desc") {
            $("#joiningdesc").show();
        }
        if (x == "dept") {
            $("#deptasc").show();
        }
        if (x == "dept_desc") {
            $("#deptdesc").show();
        }
        if (x == "email") {
            $("#emailasc").show();
        }
        if (x == "email_desc") {
            $("#emaildesc").show();
        }
        if (x == "contact") {
            $("#contactasc").show();
        }
        if (x == "contact_desc") {
            $("#contactdesc").show();
        }
    })

    function PagerClick1(pageNumber) {
        var sortorder = '@TempData["sort"]';
        var genderSelectedValue = '@TempData["genderfilter"]';
        var searchstring = '@TempData["searchstring"]';
        var DepartmentSelectedValue = '@TempData["departmentfilter"]';
        var webApiBasedUrl = '@System.Configuration.ConfigurationManager.AppSettings["LocalUrl"].ToString()';
        if (genderSelectedValue == "undefined")
            genderSelectedValue = "";
        if (DepartmentSelectedValue == "undefined")
            DepartmentSelectedValue = "";
        var string_url = webApiBasedUrl + "Employee/Index?id=" + @Session["Security"] + "&searchString=" + searchstring + "&page=" + pageNumber + "&sortOrder=" + sortorder + "&departmentfilter=" + DepartmentSelectedValue + "&genderfilter=" + genderSelectedValue + "&organisationID=" + '@Session["Organisation"]' ;
        window.location = string_url;
    }


</script>
@{
    ViewBag.Title = "Index";
}


<body id="employeelist">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#2980b9">
        <div class="container" style="color:white;">
            <div class="navbar-header" style="color:white">
                @Html.ActionLink("ORION EMS TECHNOLOGIES", "Index", "Employee", new { area = "", id = Session["Security"], organisationID = Session["Organisation"] }, new { @class = "navbar-brand", @style = "color:white;" })
            </div>
            <div class="nav navbar-nav">
                <a href="/Employee/UserAccountInfo?id=@Session["Security"]&organisationID=@Session["Organisation"]" class="userdetails  btn "><span class="glyphicon glyphicon-user"></span></a>
            </div>
        </div>
    </div>

    <form method="post" action="/Employee/Index" class="searchbar">
        <input type="hidden" name="id" value=@Session["Security"] required />
        <input type="hidden" name="organisationID" value=@Session["Organisation"] required />
        <input type="text" name="searchString" placeholder="Search..." class="form-control" required />
        <input type="submit" class="submitbtnemployee btn btn-info " value="Search" style="background:#2980b9;"/>
    </form>

    <br />

    <div class="filteremployee">
        <form style="display:none" action="/Employee/Index" method="post" id="filterform">
            <input type="hidden" name="id" value=@Session["Security"] required />
            <input type="hidden" name="organisationID" value=@Session["Organisation"] required />
            <input type="hidden" name="searchString" id="searchString" value="@ViewBag.CurrentFilter" />
            <input type="hidden" name="departmentfilter" id="department" value="" />
            <input type="hidden" name="genderfilter" id="gender" value="" />
        </form>

        <select class="form-control filters" style="border:solid;border-width:2px;border-color:lightgray;width:100px;border-radius:0px;display:inline-block" onchange="genderfunc();" id="Genderselect">
            <option value="">Gender</option>
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option>
        </select>

        <select class="form-control filters" style="border:solid;border-width:2px;border-color:lightgrey;width:130px;border-radius:0px;display:inline-block" onchange="departmentfunc();" id="Departmentselect">
            <option value="">Department</option>
            <option value="ENGINEERING">ENGINEERING</option>
            <option value="SALES">SALES</option>
            <option value="SUCCESS">SUCCESS</option>
            <option value="SUPPORT">SUPPORT</option>
        </select>
        &nbsp; &nbsp;
        <label id="genderlabel" style="color:black;background-color:lavender" class="filterlabels">@ViewBag.genderfilter</label>   <i style="color:black;background-color:lavender;position:relative;top:2px" id="cleargender" class="material-icons"></i>
        &nbsp; &nbsp;
        <label id="departmentlabel" style="color:black;background-color:lavender" class="filterlabels">@ViewBag.departmentfilter</label>   <i style="color:black;background-color:lavender;position:relative;top:2px" id="cleardepartment" class="material-icons"></i>

    </div>

    <br />
    @Html.ActionLink("Remove Filters", "Index", new { id = Session["Security"], organisationID = Session["Organisation"] }, new { @style= "background:#2980b9;", @class = "btn btn-info  removefilterbtn" })
    <br />

    <table class="table table-responsive table-hover table-bordered">
        <tr style="color: #fff ">
            <th>
                @Html.ActionLink("EMPLOYEE ID", "Index", new { id = Session["Security"], organisationID = Session["Organisation"], searchstring = ViewBag.CurrentFilter, sortOrder = ViewBag.NameSortParm0, departmentfilter = ViewBag.departmentfilter, genderfilter = ViewBag.genderfilter })
                <i id="eidasc" class="fa fa2 fa-angle-down"></i>
                <i id="eiddesc" class="fa fa2 fa-angle-up"></i>
            </th>
            <th>
                @Html.ActionLink("NAME", "Index", new { id = Session["Security"], organisationID = Session["Organisation"], searchstring = ViewBag.CurrentFilter, sortOrder = ViewBag.NameSortParm1, departmentfilter = ViewBag.departmentfilter, genderfilter = ViewBag.genderfilter })
                <i id="nameasc" class="fa fa2 fa-angle-down"></i>
                <i id="namedesc" class="fa fa2 fa-angle-up"></i>
            </th>
            <th>

                @Html.ActionLink("DOB", "Index", new { id = Session["Security"], organisationID = Session["Organisation"], searchstring = ViewBag.CurrentFilter, sortOrder = ViewBag.DateSortParm1, departmentfilter = ViewBag.departmentfilter, genderfilter = ViewBag.genderfilter })
                <i id="dobasc" class="fa fa2 fa-angle-down"></i>
                <i id="dobdesc" class="fa fa2 fa-angle-up"></i>
            </th>
            <th>
                @Html.ActionLink("GENDER", "Index", new { id = Session["Security"], organisationID = Session["Organisation"], searchstring = ViewBag.CurrentFilter, sortOrder = ViewBag.NameSortParm2, departmentfilter = ViewBag.departmentfilter, genderfilter = ViewBag.genderfilter })
                <i id="genderasc" class="fa fa2 fa-angle-down"></i>
                <i id="genderdesc" class="fa fa2 fa-angle-up"></i>
            </th>
            <th>
                @Html.ActionLink("JOINING DATE", "Index", new { id = Session["Security"], organisationID = Session["Organisation"], searchstring = ViewBag.CurrentFilter, sortOrder = ViewBag.DateSortParm2, departmentfilter = ViewBag.departmentfilter, genderfilter = ViewBag.genderfilter })
                <i id="joiningasc" class="fa fa2 fa-angle-down"></i>
                <i id="joiningdesc" class="fa fa2 fa-angle-up"></i>
            </th>
            <th>
                @Html.ActionLink("DEPARTMENT", "Index", new { id = Session["Security"], organisationID = Session["Organisation"], searchstring = ViewBag.CurrentFilter, sortOrder = ViewBag.NameSortParm3, departmentfilter = ViewBag.departmentfilter, genderfilter = ViewBag.genderfilter })
                <i id="deptasc" class="fa fa2 fa-angle-down"></i>
                <i id="deptdesc" class="fa fa2 fa-angle-up"></i>
            </th>
            <th>
                @Html.ActionLink("EMAIL ID", "Index", new { id = Session["Security"], organisationID = Session["Organisation"], searchstring = ViewBag.CurrentFilter, sortOrder = ViewBag.NameSortParm4, departmentfilter = ViewBag.departmentfilter, genderfilter = ViewBag.genderfilter })
                <i id="emailasc" class="fa fa2 fa-angle-down"></i>
                <i id="emaildesc" class="fa fa2 fa-angle-up"></i>
            </th>
            <th>
                @Html.ActionLink("CONTACT", "Index", new { id = Session["Security"], organisationID = Session["Organisation"], searchstring = ViewBag.CurrentFilter, sortOrder = ViewBag.NameSortParm5, departmentfilter = ViewBag.departmentfilter, genderfilter = ViewBag.genderfilter })
                <i id="contactasc" class="fa fa2 fa-angle-down"></i>
                <i id="contactdesc" class="fa fa2 fa-angle-up"></i>
            </th>

            <th>
                OPTIONS
            </th>

        </tr>

        @foreach (var item in Model.Employees)
        {

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Employee_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Joining_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact_Number)
                </td>

                <td>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle glyphicon glyphicon-cog optionbtn tbtn" type="button" data-toggle="dropdown"></button>
                        <ul class="dropdown-menu">
                            <li class="dbtn">@Html.ActionLink("Details", "Details", new { id = item.Employee_Id, userdetail = Session["Security"], organisationID = Session["Organisation"] })</li>
                        </ul>
                    </div>
                </td>


            </tr>


        }

    </table>

    <br />

    <div class="pagination">
        @if (int.Parse(TempData["CurrentPage"].ToString()) > 1)
        {
            <a href="javascript:PagerClick1(@TempData["CurrentPage"]-1);">&laquo;</a>
        }
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i != Model.PageNumber)
            {
                <a class="active" href="javascript:PagerClick1(@i);">@i</a>
            }
            else
            {
                <span>@i</span>
            }

        }
        @if (int.Parse((TempData["CurrentPage"]).ToString()) < Model.PageCount)
        {
            <a href="javascript:PagerClick1(@TempData["CurrentPage"] + 1);">&raquo;</a>
        }

    </div>
</body>



