@model DataObjects.Employee
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/EMS_StyleSheet.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/Details_Admin.css" rel="stylesheet" type="text/css" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>


<body id="general">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#2980b9">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("ORION EMS TECHNOLOGIES", "Index", "Admin", new { area = "", userName = Session["AdminSecurity"], organisationID = Session["Organisation"] }, new { @class = "navbar-brand", @style = "color:white;" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav">


                    <a href="/Admin/UserAccountInfo?id=@Session["AdminSecurity"]&organisationID=@Session["Organisation"]" class="userdetails  btn "><span class="glyphicon glyphicon-user"></span></a>

                </div>

            </div>
        </div>
    </div>
    <div class="details">
        <h3><b>Employee Details</b></h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <b>ORGANISATION ID:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrganisationId)
            </dd>

            <dt>
                <b>EMPLOYEE ID:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Employee_Id)
            </dd>

            <dt>
                <b>FULL NAME:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                <b>DOB:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOB)
            </dd>

            <dt>
                <b>GENDER:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                <b>JOINING DATE:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Joining_Date)
            </dd>

            <dt>
                <b>DEPARTMENT:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Department)
            </dd>

            <dt>
                <b>EMAIL ID:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                <b>CONTACT NUMBER:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contact_Number)
            </dd>

            <dt>
                <b>STATUS:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                <b>END DATE:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>





        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Employee_Id, userName = Session["AdminSecurity"], organisationID = Model.OrganisationId }, new { @class = "btn btn-info  viewbtn" })
            @Html.ActionLink("De-activate Employee", "ChangeStatus", new { id = Model.Employee_Id, userName = Session["AdminSecurity"], organisationID = Model.OrganisationId }, new { @class = "btn btn-info  viewbtn" })
            @Html.ActionLink("Back to List", "Index", new { userName = Session["AdminSecurity"], organisationID = Session["Organisation"] }, new { @class = "btn btn-info  viewbtn" })
        </p>
    </div>
</body>



